<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dólar agora</title>
  </head>
  <body>
    <section class="container">
      <div class="container-image">
        <h1>Preço do Dólar</h1>
        <div class="dollar-image">
          <img src="../images/money.svg" alt="">
        </div>
      </div>
      <div class="container-content">
        <h1>Confira o preço do dólar agora:</h1>
        <span>${{dollarPrice}}</span>
      </div>
    </section>
  </body>
</html>